@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Roboto+Condensed:100,200,300,400,500,600,700,800,900');

body
{
	background: #2d3436;
	color:#dfe6e9;
	text-align: center;
	font-family: "Roboto";
	font-size:24px;
	font-size: 3vh;
	font-weight: 100;
	overflow: hidden;
}
#sideLeft
{
	position: absolute;
	left: 0;
	top:0;
	width: 33%;
	height: 100%;
	text-align: left;
	/* background: red; */
}
.sideRight
{
	position: absolute;
	right: 0;
	top:0;
	width: 67%;
	height: 100%;
	text-align: right;
	/* background: rgba(45,52,54,0.5); */

	animation: fadeInDown 0.5s 1s ease-out backwards, fadeOutDown 0.5s 32.5s ease-in forwards;
}
.sideRightBG
{
	position: absolute;
	right: 0;
	top:0;
	width: 67%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sideRightBG img
{
	filter: opacity(0.3);
}
.contentLeft
{
	/* background: green; */
	margin:1.5vw;
}
.contentRight
{
	/* background: red; */
	margin:1.5vw;
	margin-left:35.5vw;
	
}
.contentTitle
{
	display: inline-block;
	font-size: 1.75em;
	padding-bottom: 1.5vh;
	border-bottom:1px solid #dfe6e9;
	margin-bottom: 1.5vh;
}
.contentBody
{
	font-family: "Roboto Condensed";
	font-weight: 300;
	margin-bottom: 3vh;
}
.contentHighlight
{
	font-size: 0.8em;
	font-weight: 400;
	display: inline-block;
	padding: 0.4vh 0.6vw;
	border-radius: 0.3vw;
}
.cRed
{
	background: #d63031;
}
.cOrange
{
	background: #e17055;
}
.cYellow
{
	background: #fdcb6e;
}
.cGreen
{
	background: #00b894;
}
.cBlue
{
	background: #0984e3;
}
.cPurple
{
	background: #6c5ce7;
}
.cPink
{
	background: #e84393;
}
.videoOverlay
{
	position: absolute;
	top:0;
	right:0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(45,52,54,0.5);
}
.videoContent
{
	position: absolute;
	top:0;
	right:0;
	z-index: -2;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#aznmikeBRB
{
	background: url("img/roberto-nickson-5ui0tfMC5ts-unsplash.jpg");
	background-size: cover;
	background-position: center center;
}
#aznmikeNowPlaying
{
	background: url("img/ffxiv-static.png");
	background-size: cover;
	background-position: center center;
}
#aznmikeVGBC
{
	background: url("img/vice-city-static.jpg");
	background-size: cover;
	background-position: center center;
}
#aznmikeHumble
{
	background: url("img/frostpunk-static.jpg");
	background-size: cover;
	background-position: center center;
}
.rightAnim1
{
	animation: fadeInLeft 0.5s 1.5s backwards, fadeInLeft 0.5s 32s reverse forwards;
}
.rightAnim2
{
	animation: fadeInLeft 0.5s 1.7s backwards, fadeInLeft 0.5s 31.8s reverse forwards;
}
.rightAnim3
{
	animation: fadeInLeft 0.5s 1.9s backwards, fadeInLeft 0.5s 31.6s reverse forwards;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeInDown
{
    from
	{
		transform: translateY(-100vh);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeOutDown
{
    from
	{
		filter:opacity(1);
	}
	to
	{
		filter:opacity(0);
		transform: translateY(100vh);
	}
}
@keyframes fadeInLeft
{
    from
	{
		transform: translateX(5vw);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}